{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'buy_book' %}" method="post">
{% csrf_token %}
{% for book in Books %}
    <input type="radio" name="isbn" id="book{{ forloop.counter }}" value="{{ book.isbn }}">
    <label for="price">ISBN : {{ book.isbn }}, Price : {{ book.price }}</label><br>
{% endfor %}
<input type="submit" value="Buy">
</form>